@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #F5F6F8;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Helvetica, sans-serif;
}

.header {
  @apply flex justify-between items-center mt-5 mb-4 pt-0.5;

  h3 {
    @apply text-sm text-black leading-4 font-semibold;
  }

  a {
    @apply text-xs font-semibold text-primary-orange cursor-pointer;
  }
}

.swiper {
  &.citylist-swiper {
    @apply -mx-4;
    .swiper-wrapper {
      @apply pl-4;
    }
  }
  &.trending-slider {
    @apply px-4 pb-5 relative;

    .swiper-slide-prev,
    .swiper-slide-next {
      //transform: translate3d(-309px, 0px, -74px) rotateZ(-90deg) !important;
      @apply rounded-2xl overflow-hidden;
    }
    .swiper-slide-next {
      transform: rotateZ(90deg);
    }

    .swiper-slide-active {
      transform: rotateZ(0deg);
      div {
        @apply rounded-2xl;
      }
    }

    .swiper-pagination {
      @apply absolute bottom-0 left-0 w-full flex items-center justify-center gap-2;
    }
  }
  .swiper-pagination-bullet {
    @apply w-2 h-2 rounded-full bg-secondary-custom-grey-300 block cursor-pointer;
    &.swiper-pagination-bullet-active {
      @apply bg-primary-orange;
    }
  }
  &.offer-slider {
    @apply mx-0;
    .swiper-slide {
      width: auto !important;
    }
  }
  &.fullscreen-swiper {
    .swiper-pagination {
      @apply w-full flex items-center justify-center gap-2 h-2 z-20 absolute bottom-8 left-0;
    }
  }
}

.nav-icon {
  @apply text-[1.125rem] cursor-pointer text-primary-orange w-[2.25rem] h-[2.25rem] min-w-[2.25rem] min-h-[2.25rem] flex items-center bg-white rounded-full pl-[0.625rem];
  &:hover {
    @apply bg-secondary-custom-grey-300;
  }
}
a:hover {
  @apply text-black;
}

@layer utilities {
  .two-col-layout {
    @apply flex flex-col md:flex-row md:space-x-4 md:max-w-[75rem] md:gap-12 md:mx-auto md:mt-12;
  }
}